body {
    margin: 0;
    padding: 0;
}


#view-container {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    border-width: 2px !important;
    border: solid;
    background-image: url("background.jpg");
    background-repeat: repeat;
    background-size: 150px;
}

.view {
    height: calc(100vh - 4px);
    width: calc(50vw - 2px);
    box-sizing: border-box;
    border-width: 2px !important;
    border: solid;
    float: left;
    overflow: hidden;
    text-align: center;
    line-height: 0;
}

.view .view-title {
    font-size: 26px;
    line-height: 26px;
    padding-top: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.view #clear-button {
    font-size: 24px;
    height: 30px;
    width: calc(100% - 10px);
    margin-bottom: 5px;
}